main {
  width: 70%;
  display: inline;
  vertical-align: top;
  float: right;
  margin-top: 0px;

}

body {
  max-width: 960px;
}
blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links  {
  list-style-type: none;
  padding-left: 0px;
  width: 25%; 
  display: inline;
  vertical-align: top;
  float: left;
  margin-top: 10px;



}


/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;

  
}

figure {
  margin-left: 0px;
  margin-right: 0px;

}

figcaption {
  font-style: italic;
  text-align: right;
}
/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
} */

@media screen and (max-width: 500px) {
  main{
    position: relative;
  }
  h1 {
    font-size: 60%;


  }
    #external-links {
      position: relative;
      width: 300px;
      height: 100px;
      padding: 20px;
      top: 50%;
      left: 50%;
      margin: 0px 0 0 -120px;


   /* position: static;
   float: none;
   padding-left: 20%;
   vertical-align: top;
  width: 70%;
  display: block;*/
    

  }
  #external-links h1 {
    margin-left: 8%;
  }
}
